{% extends 'app/base.html' %}

<!-- BLOCK JS  -->
{% block js %}

<script>
    function eliminarMascota(id) {
        Swal.fire({
            "title": "¿Estas seguro?",
            "text": "Esta acción no se puede revertir",
            "icon": "warning",
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Si, eliminar",
            "confirmButtonColor": "#dc3545"
        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/eliminar-mascota/" + id + "/"
                }
            })
    }
</script>

{% endblock %}

<!-- CARGA ARCHIVOS ESTATICOS -->
{% load static %}

<!-- BLOCK CSS -->
{% block css %}
{% endblock %}

<!-- BLOCK CONTENIDO -->
{% block contenido %}
<h2 class="fw-bold text-center">Listado de mascotas</h2>
<hr>
<div class="container-fluid">
    <table class="table table-striped table-hover table-responsive">
        <tr>
            <th>Nombre mascota</th>
            <th>Especie</th>
            <th>Raza</th>
            <th>Edad </th>
            <th>Sexo</th>
            <th>Tamaño</th>
            <th>Peso</th>
            <th>Descripción</th>
            <th>Opciones</th>
        </tr>
        {% for m in mascotas %}
        <tr>
            <td>{{ m.nombre_mascota | title }}</td>
            <td>{{ m.especie }}</td>
            <td>{{ m.raza }}</td>
            <td>{{ m.edad_mascota }}</td>
            <td>{{ m.sexo }}</td>
            <td>{{ m.tamaño }}</td>
            <td>{{ m.peso }}</td>
            <td>{{ m.descripcion }}</td>
            <td class="d-flex">
                <a href="{% url 'modificar_mascota' m.id %}" class="btn btn-info btn-sm">Modificar</a> &nbsp;
                <a href="#" onclick="eliminarMascota({{ m.id }})" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}

    </table>
</div>




{% endblock %}