{% extends 'app/base.html' %}
    
<!-- CARGA ARCHIVOS ESTATICOS -->
{% load static %}

<!-- BLOCK CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/login.css' %}">
{% endblock %}

{% block contenido %}
    {% load crispy_forms_tags %}
    
    <br>
    <h2 class="text-center" id="letraInicio">Inicio de sesión</h2>
    <hr>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 ">
                <div class="card" id="card-login">
                    <div class="card-body">
                        <h2 id="letraIngresa" class="text-center pb-2">Ingresa tus datos</h2>
                        <form action="" method="POST">
                            {% csrf_token %} {{form | crispy}}
                            <div class="d-grid gap-2 mt-3">
                                <input type="submit" class="btn btn-block btn-success text-center btnIniciar" value="Iniciar Sesión">
                                <a href="{% url 'registro' %}" class="nav-link linkRegistro text-center" >Registrate</a>
                            </div>
                            

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}