{% extends 'app/base.html' %}
    
<!-- CARGA ARCHIVOS ESTATICOS -->
{% load static %}

<!-- BLOCK CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/login.css' %}">
{% endblock %}

{% block contenido %}
    {% load crispy_forms_tags %}
    <br>
    <h2 class="fw-bold text-center">Registro de usuario</h2>
    <hr>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card" id="cardRegistro">
                    <div class="card-body">
                        <h2>Ingresa tus datos</h2>
                        <form action="" method="POST">
                            {% csrf_token %} {{form | crispy}}
                            <a href="{% url 'home'%}">Volver</a> |
                            <a href="{% url 'login'%}">Iniciar sesión</a>
                            <input type="submit" class="btn btn-success float-right" value="Registrarse">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}