{% extends 'app/base.html' %}

<!-- CARGA ARCHIVOS ESTATICOS -->
{% load static %}

<!-- BLOCK JS -->
{%block js %} {% endblock%}

<!-- BLOCK CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/mascotas.css' %}"> 

{% endblock %}

<!-- BLOCK CONTENIDO -->
{% block contenido %}
<!-- Contenido de la web -->
<div class="container">
    <div class="row">
        <div class="col-12 search">
            <form method="get">
                <div id="custom-search-input">
                    <div class="input-group col-12">
                        <input type="text" class="form-control" placeholder="Buscar..." name="buscar">
                        <span class="input-group-list">
                            <button type="submit" class="btn btn-success me-2">Buscar</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <h2 class="fw-bold text-center">Nuestros rescatados</h2>
    <hr><br>
    <div class="row">{% for m in mascotas %}
        <div class="col-md-4 col-sm-6">
            <div class="card sombra text-center mb-2">
                {% if m.imagen %}
                <img src="{{ m.imagen.url }}" class="img-fluid mascota mx-auto" alt="..."> {% endif %}
                <div class="card-body">
                    <h3>{{ m.nombre_mascota}}</h3>
                    <hr>
                    <h5>{{ m.descripcion }}</h5>
                    <h5>{{ m.sexo }}</h5>
                    <h5>{{ m.tamaño }}</h5>

                    <button type="button" class="btn btn-primary shadow mt-3 btnSolicitar">Solicitar adopción</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}