html {
    min-height: 100%;
    position: relative;
}

img {
    width: 300px
}

#img2 {
    transform: scaleX(-1);
}

body{
    background-color: #F5f4ed;
}
.container {
    max-width: 900px;
}

footer {
    background-color: #000000;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}

#content-footer {
    color: #ffff;
}
p{
    color: #92cdb6 ;
}
.nav-link{
    font-family: 'Merriweather Sans', sans-serif;
    font-style: italic;
    font-weight:300;
}